body {
  padding: 51px 0px 0px 0px;
}

.navbar-inverse .navbar-brand {
  color: #fff;
}

.pad {
  padding: 4px 0;
}

#visualizations {
  display: flex;
  flex-flow: row wrap;
}

.visualization {
  flex: 0 0 auto;
  margin: 20px 0px 20px 20px;
  width: 520px;
  min-height: 520px;
}

form#new-visualization .spacer {
  height: 30px;
}

.col-media-resolution { width: 220px; }

#media-length-group { display: none; }
.col-media-length { width: 138px; }

#modifier-section-axis-group { display: none; }
.modifier-section-axis { font-weight: bold; }
.modifier-section-axis-x { color: red; }
.modifier-section-axis-y { color: green; }
.modifier-section-axis-z { color: blue; }

#modifier-section-level-group { display: none; }

#modifier-section-animated-group { display: none; }

#modifier-section-animate-progress-from-group { display: none; }
#modifier-section-animate-progress-to-group { display: none; }
