<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{% endblock %} - Elmyra</title>

    <link rel="stylesheet" href="/static/bootstrap-3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/bootstrap-3.3.5/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/static/octicons-3.3.0/octicons.css">
    <link rel="stylesheet" href="/static/custom.css">

    <script src="/static/react-0.14.0/build/react.js"></script>
    <script src="/static/react-0.14.0/build/react-dom.js"></script>
    <script src="/static/babel-5.8.23/browser.min.js"></script>

    <script src="/static/jquery-2.1.4.min.js"></script>

    <script src="/static/moment-2.10.6/moment.min.js"></script>

    <script src="/static/clipboard.js-1.5.2/dist/clipboard.min.js"></script>

    <script src="/static/filesize.js-3.1.2/filesize.min.js"></script>

    <script src="/static/bootstrap-3.3.5/js/bootstrap.min.js"></script>

    <script type="text/babel" src="/static/custom.jsx"></script>
    <script src="/static/custom.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">E L M Y R A</a>
        </div>

        <ul class="nav navbar-nav">
          <li>
            <a href="/new">
              <span class="octicon octicon-rocket"></span> New Visualization
            </a>
          </li>


          {% for p in projects %}
            <li class="{% if p == project %}active{% endif %}">
              <a href="/{{ p }}"><i class="fa fa-folder"></i> {{ p }}</a>
            </li>
          {% endfor %}
        </ul>
    </nav>

    <div id="flash"></div>

    {% block content %}{% endblock %}
  </body>
</html>
