{% extends "base.html" %}

{% block content %}

  <!-- TODO: Don't allow turntable camera animation with still images, etc. for cases alike? -->

  <form action="/generate" method="post" class="form-horizontal" id="new-visualization">

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <h1>New Visualization</h1>
      </div>
    </div>

    <div class="form-group">
      <label for="title" class="col-sm-2 control-label">
        Title
      </label>

      <div class="col-sm-4">
        <input type="text" name="title" id="title" class="form-control" placeholder="e.g.: Doomsday Device Turntable" required>
      </div>
    </div>

    <div class="form-group">
      <label for="description" class="col-sm-2 control-label">
        Description
      </label>

      <div class="col-sm-4">
        <textarea name="description" id="description" class="form-control" rows="3" placeholder="e.g.: Show all outer components on the doomsday device"></textarea>
      </div>
    </div>

    <div class="spacer"></div>

    <div class="form-group">
      <label for="models" class="col-sm-2 control-label">
        Model(s)
      </label>

      <div class="col-sm-4">
        <input type="text" name="models" id="models" class="form-control" placeholder="e.g.: https://github.com/acme/doomsday-device/raw/master/complete.stl" aria-describedby="models-help" required>
      </div>

      <div class="col-sm-6">
        <span id="models-help" class="help-block">Direct http/s link(s) to .stl download(s)</span>
      </div>
    </div>

    <div class="spacer"></div>

    <div class="form-group">
      <label for="media-type" class="col-sm-2 control-label">
        Media Type
      </label>

      <div class="col-sm-10">
        <div class="radio">
          <label>
            <input type="radio" name="media-type" id="media-type-still" value="still" checked>
            <i class="fa fa-camera"></i> Still
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="media-type" id="media-type-animation" value="animation">
            <i class="fa fa-film"></i> Animation
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="media-type" id="media-type-web3d" value="web3d" disabled>
            <i class="fa fa-gamepad"></i> Web3D
          </label>
        </div>
      </div>
    </div>

    <div class="form-group" id="media-length-group">
      <label for="media-length" class="col-sm-2 control-label">
        Media Length
      </label>

      <div class="col-sm-1 col-media-length">
        <div class="input-group">
          <input type="number" name="media-length" id="media-length" class="form-control text-center" min="1" max="999" step="1" value="6">
          <div class="input-group-addon">s</div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="media-width" class="col-sm-2 control-label">
        Media Resolution
      </label>

      <div class="col-sm-2 col-media-resolution">
        <div class="input-group">
          <input type="text" name="media-width" id="media-width" class="form-control text-center" value="1280">
          <div class="input-group-addon" style="border-left: 0; border-right: 0;">✕</div>
          <input type="text" name="media-height" id="media-height" class="form-control text-center" value="720">
          <div class="input-group-addon">px</div>
        </div>
      </div>
    </div>

    <div class="spacer"></div>

    <div class="form-group">
      <label for="camera" class="col-sm-2 control-label">
        Camera
      </label>

      <div class="col-sm-2">
        <div class="radio">
          <label>
            <input type="radio" name="camera" id="camera-fixed" value="fixed" checked>
            <i class="fa fa-crosshairs"></i> Fixed
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="camera" id="camera-turntable" value="turntable">
            <i class="fa fa-rotate-left"></i> Turntable
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="camera" id="camera-helix" value="helix">
            <i class="fa fa-share"></i> Helix
          </label>
        </div>
        <div class="radio text-muted">
          <label>
            <input type="radio" name="camera" id="camera-dolly" value="dolly" disabled="disabled">
            <i class="fa fa-long-arrow-right"></i> Dolly
          </label>
        </div>
        <div class="radio text-muted">
          <label>
            <input type="radio" name="camera" id="camera-user" value="user" disabled="disabled">
            <i class="fa fa-user"></i> User-controlled
          </label>
        </div>
      </div>
    </div>

    <div class="spacer"></div>

    <div class="form-group">
      <label for="style" class="col-sm-2 control-label">
        Style
      </label>

      <div class="col-sm-2">
        <div class="radio">
          <label>
            <input type="radio" name="style" id="style-realistic" value="realistic" checked>
            <i class="fa fa-cube"></i> Realistic
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="style" id="style-illustrated" value="illustrated">
            <i class="fa fa-pencil"></i> Illustrated
          </label>
        </div>
      </div>
    </div>

    <div class="spacer"></div>

    <div class="form-group">
      <label for="modifier" class="col-sm-2 control-label">
        Modifier
      </label>

      <div class="col-sm-2">
        <div class="radio">
          <label>
            <input type="radio" name="modifier-type" id="none" value="none" checked>
            <i class="fa fa-ban"></i> None
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="modifier-type" id="section" value="section">
            <i class="fa fa-star-half"></i> Cross section
          </label>
        </div>
        <div class="radio text-muted">
          <label>
            <input type="radio" name="modifier-type" id="explosion" value="explosion" disabled="disabled">
            <i class="fa fa-arrows-alt"></i> Exploded view
          </label>
        </div>
        <div class="radio text-muted">
          <label>
            <input type="radio" name="modifier-type" id="layout" value="layout" disabled="disabled">
            <i class="fa fa-th"></i> Layout
          </label>
        </div>
      </div>
    </div>

    <div class="form-group" id="modifier-section-animated-group">
      <label for="modifier-section-animated" class="col-sm-2 control-label">
        Animated Section
      </label>

      <div class="col-sm-2">
        <div class="checkbox">
          <label>
            <input type="checkbox" name="modifier-section-animated" id="modifier-section-animated" value="true">
          </label>
        </div>
      </div>
    </div>

    <div class="form-group" id="modifier-section-axis-group">
      <label for="modifier-section-axis" class="col-sm-2 control-label">
        Section Axis
      </label>

      <div class="col-sm-2">
        <div class="radio">
          <label>
            <input type="radio" name="modifier-section-axis" id="modifier-section-axis-none" value="X">
            <span class="modifier-section-axis modifier-section-axis-x">X</span>
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="modifier-section-axis" id="modifier-section-axis-explosion" value="Y">
            <span class="modifier-section-axis modifier-section-axis-y">Y</span>
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="modifier-section-axis" id="modifier-section-axis-layout" value="Z" checked>
            <span class="modifier-section-axis modifier-section-axis-z">Z</span>
          </label>
        </div>
      </div>
    </div>

    <div class="form-group" id="modifier-section-level-group">
      <label for="modifier-section-level" class="col-sm-2 control-label">
        Section Level
      </label>

      <div class="col-sm-4">
        <input type="range" name="modifier-section-level" id="modifier-section-level" min="0.0" max="1.0" step="0.01" value="0.5">
      </div>
    </div>

    <div class="form-group" id="modifier-section-animate-progress-from-group">
      <label for="modifier-section-animate-progress-from" class="col-sm-2 control-label">
        Section Begin Level
      </label>

      <div class="col-sm-4">
        <input type="range" name="modifier-section-animate-progress-from" id="modifier-section-animate-progress-from" min="0.0" max="1.0" step="0.01" value="0.2">
      </div>
    </div>

    <div class="form-group" id="modifier-section-animate-progress-to-group">
      <label for="modifier-section-animate-progress-to" class="col-sm-2 control-label">
        Section End Level
      </label>

      <div class="col-sm-4">
        <input type="range" name="modifier-section-animate-progress-to" id="modifier-section-animate-progress-to" min="0.0" max="1.0" step="0.01" value="0.8">
      </div>
    </div>

    <div class="spacer"></div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary">Generate</button>
      </div>
    </div>
  </form>

{% endblock %}
