title-color = #444
link-color = #666
link-hover-color = #777

#visualizations
  display flex
  flex-flow row wrap

.visualization
  flex 0 0 auto
  margin 50px 0 0 50px

  a
    color link-color
    text-decoration none

    &:hover
      color link-hover-color

  .preview
    background-image url(../checker.png)
    box-shadow inset 0 0 20px #333, 0 0 20px #ccc;

    &.active
      background-image url(../checker-active.png)
      box-shadow inset 0 0 20px #333, 0 0 20px #ccc;

    a
      align-items center
      display flex
      height 270px
      justify-content center
      width 480px

      img
        max-height 100%
        max-width 100%

  .menu
    align-items center;
    display flex
    justify-content space-between

    .title
      color title-color
      font-weight bold

    .version
      position relative
      top -8px

    .controls
      display flex
      justify-content space-between
      width 240px

.col-media-resolution
  width 220px

.modifier-section-axis
  font-weight bold

.modifier-section-axis-x
  color red

.modifier-section-axis-y
  color green

.modifier-section-axis-z
  color blue
