#preview
  align-items center
  background-color rgba(0, 0, 0, 80%)
  color #fff
  display flex
  height 100vh
  justify-content center
  left 0
  position absolute
  top 0
  width 100vw

#preview-content
  border 1px solid #fff
  box-shadow 0 0 20px #000
  display flex
  max-height 80vh
  max-width 80vw

  iframe
    min-height 405px
    min-width 720px
