nav {
  background-color: #444;
  display: flex;

  a,
  div {
    color: #ddd;
    padding: 15px;
  }

  a {
    cursor: pointer;
    display: block;

    &.active {
      background-color: #4a4a4a;
      border-bottom: 5px solid rgb(255, 153, 0);
      color: #fff;
      padding-bottom: 10px;
    }

    &:hover {
      background-color: #4a4a4a;
      border-bottom: 5px solid #aaa;
      color: #fff;
      padding-bottom: 10px;
      text-decoration: none;
    }
  }

  a#logo {
    color: #fff;
  }

  span#version {
    color: rgb(255, 153, 0);
    font-weight: bold;
  }
}
