#wizard {
  display: flex;
  height: 100vh;
  flex-direction: column;

  main {
    align-items: center;
    display: flex;
    flex: 1;
    flex-flow: row wrap;
    justify-content: center;

    .option {
      display: flex;
      flex-direction: column;
      margin: 20px;
      max-height: 480px;
      text-align: center;
      width: 240px;

      h1 {
        font-size: 2.2rem;
      }

      .description {
        flex: 1;
      }

      button {
        margin: 20px;
      }
    }

    .data-input {
      display: flex;
      flex-direction: column;
      text-align: center;
      max-height: 100%;
      width: 640px;

      form {
        display: flex;

        input, button {
          margin: 5px;
        }
      }
    }

    .tool {
      display: flex;
      flex-direction: column;
      text-align: center;
      max-height: 100%;
      max-width: 100%;
    }
  }
}

.insert-group {
  display: flex;
  flex-flow: row wrap;
  width: 240px;

  input,
  .insert {
    padding: 4px;
  }

  input {
    flex: 1;
    flex-basis: auto;
    text-align: center;
    width: 60px;

    &:first-child {
      border: 1px solid #ccc;
      border-radius: 2px 0 0 2px;
    }

    &:last-child {
      border: 1px solid #ccc;
      border-radius: 0 2px 2px 0;
    }
  }

  .insert {
    background-color: #eee;
    border: 1px solid #ccc;
    border-width: 1px 0;
  }
}

.axis {
  font-weight: bold;

  .x { color: red; }
  .y { color: green; }
  .z { color: blue; }
}

#dropzone {
  align-items: center;
  border: 10px dashed #ececec;
  border-radius: 60px;
  color: #cecece;
  cursor: pointer;
  display: flex;
  height: 400px;
  justify-content: center;
  width: 100%;

  &.drag-registered {
    border: 10px dashed #f90;
  }

  * {
    pointer-events: none;
  }
}
